{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block headres %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=6a3e7dc1-8af4-4e6f-b6a5-7a61fa4fcf9a&lang=ru_RU"
    type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(init);
    function init() {
        var myMap = new ymaps.Map("map", {
            center: [59.929354, 30.362251],
            zoom: 7
        }
        )
        var myPlacemark = null
        {%for item in list_of_apartments %}
        myPlacemark = new ymaps.Placemark([
            {{item["coords"]["lat"]}},
            {{item["coords"]["lon"]}}]);
        myMap.geoObjects.add(myPlacemark);
        {%endfor%}
    }
</script>
{% endblock %}

{% block content %}
<div id="content">
    <div class="columns fs">
        <div id="map">
        </div>
        <div>
            <h1 style="text-align: center">Список недвижимости</h1>
            <ul class="events">
                {%for item in list_of_apartments%}
                <li><a href="{{item["link"]}}">
                    <div class="name">
                        {{item["address"]}}
                    </div>
                    </a></li>
                {%endfor%}
            </ul>
        </div>
        <div>
            <h1>Поиск недвижимости</h1>
            <form action="/events" method="GET">
                <label for="address">Название ВУЗа</label>
                <input id="address" name="address" type="text" value="{{address or ""}}"/>
                <input type="submit" value="Отправить" />
            </form>
        </div>
    </div>
{% endblock %}
