{% extends 'base.html' %}

{% block title %} Расписание {% endblock %}

{% block content %}

<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/static/img/leti.jpg)">
    <div class="columns">
        <h1>Найти свободное время в расписании и мероприятия</h1>
        <form action="/schedule" action="get">
            <label for="group">Номер группы в ЛЭТИ</label>
            <input id="group" name="group" type="text"/>
            <input type="submit" value="Найти" />
        </form>
    </div>
</div>
<div id="content">
{% if schedule %}
<h2 style="text-align: center">{{schedule["day"]}}</h2>
<div class="schedule">
    {% for event in schedule["events"] %}
    <div class="{{ "" if event["num"] else "space" }}">
        <div class="num">{{event["num"] or ""}}</div>
        <div class="name">{{event["name"]}}</div>
        <div class="date">{{event["time"]}}</div>
        <div class="address">{{event["address"]}}</div>
    </div>
    {% endfor %}
</div>
{% endif %}
</div>

{% endblock %}
