{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}

<div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/static/img/leti.jpg)">
    <div class="columns">
        <h1>Поиск ВУЗов по вашей будущей профессии и баллам ЕГЭ</h1>
        <form action="/university" action="get">
            <label for="direction">Направление</label>
            <input id="direction" name="direction" type="text"/>
            <label for="ege">Количество баллов ЕГЭ</label>
            <input id="ege" name="ege" type="text" />
            <input type="submit" value="Отправить" />
        </form>
    </div>
</div>
{% if direction != "" %}
<h2>ВУЗы по направлению "{{direction}}"</h2>
<div class="universities">
    {% for vuz in vuzes %}
    <a href="{{vuz.univ_link}}">
        <img class="logo" src="{{vuz.image}}" />
        <div class="name">{{vuz.univ_name}}</div>
        <div class="budget u_gr">
            {% if vuz.budget > 0 %}
            <span class="text">{{vuz.budget}}</span>
            <span class="subscript">Кол-во бюджетный мест</span>
            {% endif %}
        </div>

        <div class="mean u_gr">
            {% if vuz.mean_score > 0 %}
            <span class="text">{{vuz.mean_score}}</span>
            <span class="subscript">Средний балл</span>
            {% endif %}
        </div>
        <div class="pass u_gr">
            {% if vuz.pass_score > 0 %}
            <span class="text">{{vuz.pass_score}}</span>
            <span class="subscript">Проходной балл</span>
            {% endif %}
        </div>
    </a>
    {% endfor %}
</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}
